* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation styles */
.heder {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

.nav-title {
    font-size: 45px;
    font-weight: 800px;
}

.text-primary {
    color: #FD6E0A;
    ;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    padding: 18px 36px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
}

/* banner styles */
.banner {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.banner-subtitle {
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
    margin-bottom: 30px;
}

/* main-section */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about-section */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center
}

.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    text-align: center
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #a79f9f;
}
.about .info-description{
    font-size: 20px;
    font-weight: 700px;
    color: rgb(43, 48, 46);
}