* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation styles */
.heder {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

.nav-title {
    font-size: 45px;
    font-weight: 800px;
}

.text-primary {
    color: #FD6E0A;
    ;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    padding: 18px 36px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
}

/* banner styles */
.banner {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.banner-subtitle {
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
    margin-bottom: 30px;
}

/* main-section */
section{
    margin-top: 130px
}
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about-section */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    text-align: center
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about .info-title{
    font-size: 20px;
    color: #a79f9f;
}
.about .info-description{
    font-size: 20px;
    font-weight: 700px;
    color: rgb(43, 48, 46);
}
/* what-i-do-section */
.skills-container{
    display: flex;
    gap: 20px;
    
}
.skill{
    background-color: #FFFFFFFF;
    box-shadow: 0px 6px 50px rgba(0,0,0,0,06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-size: 20px;
    font-weight: 700px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575
}
/* resume styles */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-iteam{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    font-weight: 700px;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600px;
    font-size: 20px;
    margin-top: 20px;
}
.resume .description{
    color: #757575;
    margin-top: 20px;
}

/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}

.contact  input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
input{
    height: 64px;
}
.contact a{
    text-decoration: none;
}